:root {
  --primary-color: #2c333d;
  --backup-color: #2c333d;
  --nav-background-color: rgba(35, 47, 58, 0.84);
  /*--nav-background-color: #0d1724;*/
  --secondary-color: #423451;
  --outline-color: rgba(68, 74, 91, 0.65);
  --default-box-shadow: 0.1rem 0.1rem rgba(26, 20, 20, 0.25);
  --error-color: #d9534f;
  --success-color: rgba(40, 241, 9, 0.93);
  --text-color: #FFFFFF;
  --font-size-large: 1.5rem;
  --spacing: 1rem;
  --primary-font-size: 1rem;
}

* {
  /*border: lime 1px solid;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  min-height: 100vh;
  display: flex;
}

.app-container {
  background-color: var(--primary-color);
}


.content-container {
  display: flex;
  justify-content: center;
  padding: 8rem 2rem;
  color: #d9d9d9;
  width: 100%;
  overflow: auto;
  /*overflow-x: scroll;*/
}

.content-container table {
  width: 100%;
}


.content-container p {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}


.nav-container {
  background-color: var(--nav-background-color);
  color: white;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 0.05rem solid #ffffff;
}

.nav-container ul {
  background-color: inherit;
}

.nav-container ul li {
  color: transparent;
}

.sidebar-div {
  min-width: 10rem;
  max-width: 18rem;
  background-color: var(--nav-background-color);
  border-right: 0.05rem solid #ffffff;
  transition: width 0.3s ease;
  padding: 1.5rem;
  color: #ffffff;
}

.sidebar-div .elements {

}


.sidebar-div a {
  text-decoration: none;
  color: #FFFFFF
}

.sidebar-div ul {
    list-style-type: none;
}
.sidebar-div ul li {
    padding: 8px 0;
}


th {
  position: sticky;
  top: 0;
  z-index: 1;
}


.user-container {
  max-width: 50%;
  /*align-items: center;*/
}

.home-container {
  margin: auto;
  max-width: 500px;
  vertical-align: auto;
  /*padding-bottom: 2rem;*/
}

.home-container button {
  align-self: center;
}

.steam-id-input {
  background-color: rgba(68, 74, 91, 0.65);
  color: rgba(230, 238, 226, 0.63);
  margin: 10px 10px 10px 0;
  font-size: 16px;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 0.15rem;
  padding-inline: 0.5rem;
  /*box-shadow: 0.05rem 0.05rem 0.1rem rgba(65, 60, 60, 0.3);*/
  box-shadow: 0.1rem 0.1rem rgba(26, 20, 20, 0.25);
}

.steam-id-input :hover {
  color: rgba(130, 140, 169, 0.65);
}


.roles-edit-container th {
  text-align: left;
  /*alig*/
}


.whitelist-container .row-box {
  padding: 0.1rem;
  display: flex;
  align-items: center;
}

.whitelist-container button {
  cursor: pointer;

}

.whitelist-container .button-wrapper {
  display: flex;
  /*align-items: center;*/
  /*margin: 1rem;*/
  /*padding: 1px;*/
  /*justify-content: center;*/
}

.whitelist-container .button-wrapper button {
  margin: 2.5rem;
}

#admin-groups-table tr {
  padding: 5rem;
}

.admin-group-container .permissions-wrapper {
  /*gap: 0.5rem;*/
}

.admin-group-container .buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-group-container .buttons-container button {
  margin: 0.5rem 2.5rem;
}

.admin-group-container .table-wrapper {
  width: 100%;
}

.table-edit-container table {
  overflow-x: scroll;
}

.table-edit-container th {
  text-align: left;
}


#admin-groups-table {
  width: 100%;
  background-color: rgba(45, 51, 54, 0.76);
  border-radius: 0.5rem;
  border-collapse: collapse;
  border: 1px solid transparent;
  box-shadow: 0.1rem 0.1rem rgba(26, 20, 20, 0.25);
  /*padding-inline: 1rem;*/
}


/*.list-endpoint-table-wrapper {*/
/*  overflow-x: auto;*/
/*  border: 1px solid transparent;*/
/*  box-shadow: 0.1rem 0.1rem var(--default-box-shadow);*/
/*  background-color: rgba(58, 65, 73, 0.76);*/
/*  border-radius: 5px;*/
/*  margin: 1rem auto;*/
/*  padding: 1rem 3rem;*/
/*}*/

/*.list-endpoint-table-wrapper table {*/
/*  border-collapse: collapse;*/
/*}*/

/*.list-endpoint-div th, td {*/
/*  text-align: left;*/
/*  padding: 0.5rem;*/
/*}*/

/*#list-endpoint-div tr:hover {*/
/*  background-color: rgba(52, 54, 63, 0.76);*/
/* !*filter: brightness(120%);*!*/
/*}*/

/*#list-endpoint-div tr:nth-of-type(2n) {*/
/*  background: hsl(0 0% 0% / 0.1);*/
/*}*/


/*#list-endpoint-div thead {*/
/*  border-bottom: 1px solid transparent;*/
/*}*/

/*#list-endpoint-div th {*/
/*  border: 2px solid var(--primary-color);*/
/*}*/


/*#list-endpoint-div td {*/
/*  padding-right: 0.5rem;*/
/*}*/

#admin-groups-table th {
  background: hsla(240, 22%, 14%, 0.5);
  text-align: left;
  padding: 1rem;
}

#admin-groups-table tr:nth-of-type(2FFn) {
  background: hsl(0 0% 0% / 0.1);
}


.active-days-container {
  background-color: var(--outline-color);
  box-shadow: var(--default-box-shadow);
  /*margin: 0.8rem;*/
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

.button-div {
  margin: auto;
  flex: auto;
}

.check-steamid-button {
  cursor: pointer;
  font-weight: bold;
  background-color: #242b36;
}


.default-button {
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  box-shadow: 0 0 0.1rem rgb(0,0,0,2);
  padding: 12px 30px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  transition: border .3s,color .3s;
}
.default-button:hover, .default-button:focus {
    background-color: #1c618f;
}

.dropdown {

}

.highlighted-div {
  box-shadow: 0 0 10px rgb(0,0,0);
}


/* The switch - the box around the slider */
.switch {
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #414141;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.3em;
    width: 1.3em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked + .slider {
  /*background-color: #4d7045;*/
    /*box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);*/
    border: 2px solid #09f115;
}

.switch input:checked + .slider:before {
    transform: translateX(1.5em);
}

.delete-button {
  background-color: #651e1e;
  color: #d7d7d7;
  padding: 0.25rem 1.7rem;
  /*font-family: sans-serif;*/
  border: 2px solid #0e070c;
  border-radius: 0.4rem;
  box-shadow: var(--default-box-shadow);
  transition: filter 0.2s;
  font-size: 0.8rem;
}

.delete-button:hover, .delete-button:focus {
  filter: brightness(120%);
  border: 2px solid #ffffff;
  /*box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.3);*/
  background-color: #571e1e;
  /*background-color: rgba(130, 140, 169, 0.65);*/
}

.default-dropdown {
  /*display: none;*/
  /*position: absolute;*/
  background-color: var(--outline-color);
  position: sticky;
  /*top: -1rem;*/
  overflow: auto;
  width: 100%;
  max-height: 20rem;
  z-index: 1;
}

.generic-content-wrapper {
  width: 100%;
  overflow-x: auto;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 0.1rem 0.2rem rgba(39, 30, 30, 0.25);
  background-color: var(--content-bg-color);
  margin: 1rem auto;
  padding: 1rem 3rem;
}



/*.delete-button: d*/