* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2b2b2f;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
}

.body {
  min-height: 100vh;
  display: flex;
}

.content {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  padding-inline: 2rem;
  /*background-color: #0d0f11;*/
  color: white;
  min-height: 100vh;
  min-width: 80vw;
}

.nav-container {
    background-color: #0d0f11;
    color: white;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    padding: 0 1rem;
  border-bottom: 0.1rem solid #0d0f11;
  border-radius: 0.2rem;
}

.nav-container ul {

}

.nav-container ul li {

}

.sidebar-div {
    /* TODO adjust width to be more dynamic, IDK i don't know CSS well.*/
    width: 200px;
    background-color: #0e0d0d;
  border-right: 1px solid #e7d7d7;
  /*padding-top: 0.5rem;*/
  /*border: #466d95;*/
  /*border-spacing: 10px;*/

  /*border*/
    color: #ffffff;
    padding: 1rem;
}



.sidebar-div ul {
    list-style-type: none;
}
.sidebar-div ul li {
    padding: 8px 0;
}

.home-container {
  margin: auto;
  max-width: 500px;
  vertical-align: auto;
  /*padding-bottom: 2rem;*/
}

.home-container button {
  align-self: center;
}

.button-div {
  margin: auto;
  flex: auto;
}

.default-button {
    border-radius: 5px;
    border: 1px solid white;
    padding: 12px 30px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    transition: border .3s,color .3s;
}
.default-button:hover, .default-button:focus {
    background-color: #1c618f;
}

.dropdown {

}
