:root {
  --primary-color: #2c333d;
  --backup-color: #2c333d;
  --nav-background-color: rgba(38, 49, 61, 0.84);
  /*--nav-background-color: #0d1724;*/
  --secondary-color: #423451;
  --outline-color: rgba(68, 74, 91, 0.65);
  --default-box-shadow: 0.1rem 0.1rem rgba(26, 20, 20, 0.25);
  --font-size-large: 1.5rem;
  --spacing: 16px;
  --primary-font-size: 1rem;
}

* {
  /*border: lime 1px solid;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-color: var(--primary-color);
}

.body {
  min-height: 100vh;
  display: flex;
}

.nav-container {
  background-color: var(--nav-background-color);
  color: white;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 0.05rem solid #ffffff;
}

.nav-container ul {
  background-color: inherit;
}

.nav-container ul li {
  color: transparent;
}

.sidebar-div {
  /*width: 200px;*/
  min-width: 150px;
  max-width: 40%;
  background-color: var(--nav-background-color);
  border-right: 0.05rem solid #ffffff;
  /*margin-right: 5%;*/
  /*margin-right: auto;*/
  /*padding-top: 0.5rem;*/
  /*border: #466d95;*/
  /*border-spacing: 10px;*/
  padding: 1.5rem;
  color: #ffffff;
}

.sidebar-div ul {
    list-style-type: none;
}
.sidebar-div ul li {
    padding: 8px 0;
}

.content-container {
  display: flex;
  justify-content: center;
  /*padding: 2rem 2rem;*/
  padding: 8rem 2rem;

  /*margin-inline: auto;*/
  /*padding-inline: 2rem 2rem;*/
  /*background-color: #0d0f11;*/
  color: #d9d9d9;
  /*min-height: 100vh;*/
  min-width: 80vw;
}

.content-container p {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.user-container {
  max-width: 50%;
  /*align-items: center;*/
}

.home-container {
  margin: auto;
  max-width: 500px;
  vertical-align: auto;
  /*padding-bottom: 2rem;*/
}

.home-container button {
  align-self: center;
}

.steam-id-input {
  background-color: rgba(68, 74, 91, 0.65);
  color: rgba(230, 238, 226, 0.63);
  margin: 10px 10px 10px 0;
  font-size: 16px;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 0.15rem;
  padding-inline: 0.5rem;
  /*box-shadow: 0.05rem 0.05rem 0.1rem rgba(65, 60, 60, 0.3);*/
  box-shadow: 0.1rem 0.1rem rgba(26, 20, 20, 0.25);
}

.steam-id-input :hover {
  color: rgba(130, 140, 169, 0.65);
}

.whitelist-container .row-box {
  padding: 0.1rem;
  display: flex;
  align-items: center;
}

.whitelist-container button {
  cursor: pointer;

}

.whitelist-container .button-wrapper {
  display: flex;
  /*align-items: center;*/
  /*margin: 1rem;*/
  /*padding: 1px;*/
  /*justify-content: center;*/
}

.whitelist-container .button-wrapper button {
  margin: 2.5rem;
}

#admin-groups-table tr {
  padding: 2rem;
}

.admin-group-container .permissions-wrapper {
  /*gap: 0.5rem;*/
}

.admin-group-container .buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-group-container .buttons-container button {
  margin: 0.5rem 2.5rem;
}

admin-group-container .table-wrapper {
  width: 100%;
}

.table-edit-container {
  display: flex;
}

#admin-groups-table {
  width: 100%;
  background-color: rgba(45, 51, 54, 0.76);
  border-radius: 0.5rem;
  border-collapse: collapse;
  border: 1px solid transparent;
  box-shadow: 0.1rem 0.1rem rgba(26, 20, 20, 0.25);
  /*padding-inline: 1rem;*/
}

#admin-groups-table th, td {
  padding: 1rem;
}

#admin-groups-table th {
  background: hsla(240, 22%, 14%, 0.5);
  text-align: left;
}

#admin-groups-table tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);
}



.active-days-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--outline-color);
  box-shadow: var(--default-box-shadow);
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

.button-div {
  margin: auto;
  flex: auto;
}

.check-steamid-button {
  cursor: pointer;
  font-weight: bold;
  background-color: #242b36;
}




.default-button {
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  box-shadow: 0 0 0.1rem rgb(0,0,0,2);
  padding: 12px 30px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  transition: border .3s,color .3s;
}
.default-button:hover, .default-button:focus {
    background-color: #1c618f;
}

.dropdown {

}

.highlighted-div {
  box-shadow: 0 0 10px rgb(0,0,0);
}

