* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

.nav {
    background-color: #0d0f11;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {

}

.sidebar {
    /* TODO adjust width to be more dynamic, IDK i don't know CSS well.*/
    width: 150px;
    background-color: #000000;
    color: white;
    padding: 0.2rem;
}

.sidebar ul {
    list-style-type: none;
}
.sidebar ul li {
    padding: 8px 0;
}


.default-button {
    border-radius: 5px;
    border: 1px solid white;
    padding: 12px 30px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    transition: border .3s,color .3s;
}